<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".BudakattsuSanteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudakattsuSante">

        <!-- Splash Screen -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.BudakattsuSante.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Screens -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Buyer Main -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <!-- Leader Main -->
        <activity
            android:name=".ui.LeaderActivity"
            android:exported="false" />

    </application>
</manifest>
